<ion-side-menus enable-menu-with-back-views="true">
      
    <ion-side-menu-content>
        <!--navigation bar-->
        <ion-nav-bar class="bar-positive ">
            
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
<!--
            <ion-nav-back-button  class="button button-clear" >
                <i class="ion-arrow-left-c"></i>
            </ion-nav-back-button>
-->
             
        </ion-nav-bar>
        
        <!--the main content-->
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        
        <!--menu header-->
        <ion-header-bar class="bar-positive  right-menu-bar">
            <h1 class="title menu-title">زوايا</h1>
        </ion-header-bar>
       
        <!--manu items-->
        <ion-content class="right-menu-container">
            <ion-list class="right-menu-list">
                <ion-item menu-close href="#/app/posts" class="right-menu-tab">
                    الرئيسية
                </ion-item>
                <ion-item menu-close ng-repeat="cat in cats" ng-if="cat.post_count>0" class="right-menu-tab" href="#/app/cat/{{cat.id}}">
                    {{cat.title}}
                    <i class="badge badge-positive">{{cat.post_count}}</i>
                </ion-item>
                <ion-item class="item item-icon-right right-menu-tab" menu-close 
                          href="#" onclick="window.open('https://www.facebook.com/FSENancy.fr', '_system', 'location=yes'); return false;">
                    على فيسبوك
                    <i class="icon ion-social-facebook positive"></i>
                </ion-item>
                <ion-item class="item item-icon-right right-menu-tab" menu-close href="#/app/contact">
                    تواصل معنا
                    <i class="icon ion-ios-email positive"></i>
                </ion-item>
            </ion-list>
        </ion-content>
        
    </ion-side-menu>
</ion-side-menus>