<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <!--navigation bar-->
        <ion-nav-bar class="bar-positive ">

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <!--the main content-->
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">

        <!--menu header-->
        <ion-header-bar class="bar-positive  right-menu-bar">
            <h1 class="title menu-title">{{menuTitle}}</h1>
        </ion-header-bar>

        <!--manu items-->
        <ion-content class="right-menu-container">
            
            <ion-list class="right-menu-list">
                
                <ion-item menu-close href="#/app/posts" class="right-menu-tab">
                    {{home}}
                </ion-item>
                <div ng-repeat="cat in cats | orderBy:'-children'">
                
                    <ion-item menu-close class="item-stable catMenu"  href="#/app/cat/{{cat.id}}"  ng-class="{active: isGroupShown(cat)}" > 
                        &nbsp; <a class="catLink"  href="#/app/cat/{{cat.id}}">{{cat.title}}</a>
                    </ion-item>
                    
                    <div ng-repeat="subCat in cat.children | orderBy:'-title'">
                        
                        <ion-item menu-close class="item-stable catMenu"  href="#/app/cat/{{subCat.id}}"  ng-class="{active: isGroupShown(cat)}" >
                            &nbsp;  <a class="catLink"  href="#/app/cat/{{subCat.id}}">{{subCat.title}}</a>
                        </ion-item>
                    
                    </div>
                    
                    <div class="item-stable sub-item" ng-repeat="subCat in cat.children | orderBy:'-title'" 
                         ng-show="isGroupShown(cat)"         class="item-accordion" 
                         menu-close>
                        
                    </div>
                
                </div>
                
<!--
                <ion-item ng-repeat="cat in cats | orderBy:'-children'"  ng-if="cat.id !== '113'" menu-close
                          class="item-stable catMenu"  href="#/app/cat/{{cat.id}}"  ng-class="{active: isGroupShown(cat)}" >
                    <i class="icon" ng-class="cat.children.length ? 'ion-plus' : ''" ng-click="toggleGroup(cat)" ></i>
                    &nbsp; <a class="catLink" ng-click="reloadRoute()">{{cat.title}}</a>

                    <div class="item-stable sub-item" ng-repeat="subCat in cat.children | orderBy:'-title'" 
                         ng-show="isGroupShown(cat)"         class="item-accordion" 
                         menu-close>
                        <i class="icon ion-minus"></i> &nbsp;  <a class="catLink" ng-click="reloadRoute()" href="#/app/cat/{{subCat.id}}">{{subCat.title}}</a>
                    </div>
                </ion-item>
-->

                <div class="item item-divider" menu-close href="#/app/tags">
                    {{multimedia}}
                </div>
                <ion-item class="item item-icon-right right-menu-tab" menu-close href="#/app/videos">
                    {{videos}}
                    <i class="icon ion-pricetags positive"></i>
                </ion-item>
                <ion-item class="item item-icon-right right-menu-tab" menu-close href="#/app/images">
                    {{images}}
                    <i class="icon ion-pricetags positive"></i>
                </ion-item>
                
                <div class="item item-divider" menu-close href="#/app/tags">
                    {{usefulLinks}}
                </div>
                
                <ion-item class="item item-icon-right right-menu-tab" menu-close href="#/app/social">
                    {{socialLinks}}
                    <i class="icon ion-ionic positive"></i>
                </ion-item>
                <ion-item class="item item-icon-right right-menu-tab" menu-close href="#/app/contact">
                    {{contactUs}}
                    <i class="icon ion-ios-email positive"></i>
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>