<ion-view view-title="{{pageTitle}}">
    
    <!--Search Area-->
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="بحث">
        </label>
    </div>
    <!--Posts-->
    <ion-content class="has-subheader posts bckg-container">

        <ion-list class="post-lists">
            <!--Post-->
            <ion-item class="post-container bckg-container" ng-repeat="post in posts | filter: query" href="#/app/post/{{post.id}}">
                
                
                <div class="item post-subcontainer">
                    
                    <!--Post title and date-->    
                    <h2 ng-bind-html='post.title' class="post-title"></h2>
                    <p class="post-date">{{post.date |limitTo : 10 }}</p>
                    
                    <!--Thumbnail-->
                    <img  class="full-image post-image" ng-src="{{post.attachments[0].url}}" alt="{{post.attachments[0].captions}}" />
                    
                    <!--Excerpt-->
                    <ion-item class=" item-body post-excerpt" ng-bind-html='post.excerpt'></ion-item>
                </div>
                
                <!--Post content-->
<!--                <div class="item item-body post-content">-->
                    
                    
<!--
                    <ion-item ng-show="post.attachments[0].url" class="post-image-container">
                        <img  class="full-image post-image" ng-src="{{post.attachments[0].url}}" alt="{{post.attachments[0].captions}}" />
                    </ion-item>
-->
                    
                    
                    
                    
                    <!--Categories-->
<!--
                    <ion-item ng-repeat='cat in post.categories' href="#/app/cat/{{cat.id}}" class="item post-cat">
                        <i class="icon ion-pricetag"></i> {{cat.title}}
                    </ion-item>
-->
                    <!--Tags-->
<!--
                    <ion-item ng-repeat='tag in post.tags' href="#/app/tag/{{tag.id}}" class="item post-tag">
                        <i class="icon ion-pricetags"></i> {{tag.title}}
                    </ion-item>
-->
<!--                </div>-->
            </ion-item>
        </ion-list>

      <ion-infinite-scroll ng-show="total_count> 10" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        
    </ion-content>

</ion-view>